

<div id="chart"></div>
@Model.ToString()

<script>
    const chart_type = "@Model";
</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="~/js/diagrams.js"></script>