<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
<link rel="img" asp-href-include="~/lib/chessboardjs/img/chesspieces/wikipedia/*.png" />
<link href="~/lib/chessboardjs/css/chessboard-1.0.0.css" rel="stylesheet" />
<link href="~/css/chess_game.css" rel="stylesheet"/>


<div>HELLO WORLD</div>
    <div class="row">
        <div id="layout__main" class="col-lg-9">
            <div class="border__layout_player p-2">
                <div class="border__layout_img"><img src="https://unsplash.it/45/45"></div> 
                <div class="border__layout_usernameDetail"> 
                    <span>Jakis gracz1</span>
                    <span>(ilosc punktow)</span>
                    <img src="https://unsplash.it/20/20" class="img-fluid">
                </div>
                <div class="clock__component">
                    <div id="opponentTimer" data-timer="900">00:00</div>
                </div>
            </div>

            <div id="chessboard"></div>

            <div class="border__layout_player p-2">
                <div class="border__layout_img"><img src="https://unsplash.it/45/45"></div> 
                <div class="border__layout_usernameDetail"> 
                    <span>Tu jestem ja</span>
                    <span>(ilosc punktow)</span>
                    <img src="https://unsplash.it/20/20" class="img-fluid">
                </div>
                <div class="clock__component">
                    <div id="myTimer" data-timer="900">00:00</div>
                </div>
            </div>

        </div>
        <div id="layout__sidebar" class="col-lg-3 ">
            <div class="game__controls__component">
                <button onclick="startTimer('timerTimeout');">Start</button>
                <button onclick="stopTimer('timerTimeout');">Stop</button>
                <div>
                    Jakis typ spotkania
                </div>
                <div class="game__controls__wrapper ">
                    @* moves list content *@
                </div>
                <div class="section_wrapper "> 
                    <div>
                        <button type="button" class="fas fa-chevron-left fa-ls fa-3x"></button>
                        <button type="button" class="fas fa-chevron-right fa-3x"></button>
                    </div>
                    <div class="section_icon">
                        <i class="fas fa-retweet fa-2x"></i>
                        <i class="fas fa-download fa-2x"></i>
                        <i class="fas fa-share-alt fa-2x"></i>
                    </div>
                </div>
                <div class="about_player player_bottom">

                </div>
                <button onclick="startTimer1('timerTimeout1');">Start</button>
                <button onclick="stopTimer1('timerTimeout1');">Stop</button>
            </div>
        </div>
    </div>
</div>
<div id="PGN" style="padding: 50px;">
