#layout__main{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}


#layout__sidebar{
    background-color: #ff7f50;
}

.game__controls__component{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aliceblue;

}


.game__controls__wrapper {

}



.move-history{
    height:500px;
    overflow: auto;
}


.section_wrapper div{
    flex-basis: 30%;

    display: flex;
    justify-content: center;
}

.about_player{
    height: 15%;
    background-color: blue;
}

.game__controls__wrapper div{

    font-size: 1em;
}

.active_move {
    background-color: rgb(204, 174, 135);
  }
  

.border__layout_player{
    display: flex;
}





// #vertical__move__list__component{
//     height: 100px;
//     overflow-y: scroll;
//     overflow-x:hidden;
//     display: flex;
//     flex-direction: column;
// }

// .vertical__move__list__element{
//     display: flex;
//     .vertical__move__list__element__move{
//         background-color: brown;
//         border: 2px;
//         padding: 5px;
//         margin: 1px;
        
//         .vertical__move__list__element__move__clickable{
//             color: white;
    
//             &:hover{
//                 background-color: AntiqueWhite ;
//                 cursor: pointer;
//             }
//         };
//     }
//     .vertical__move__list__element__fen{
//         display: none;
//     }
//     .move__text__selected{
//         background-color: green;
//     }
// }