@charset "UTF-8";
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #efefef;
  font-family: "Arial";
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 1250px;
  margin: 30px auto 30px;
  padding: 0 !important;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #b721ff;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

a:hover {
  color: #21d4fd;
}

.button {
  border: none;
  font-size: 1.2rem;
  padding: 0 6vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2.5;
  margin-top: 6vh;
  outline: transparent;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 10px rgba(183, 33, 255, 0.2);
          box-shadow: 0 5px 10px rgba(183, 33, 255, 0.2);
}

/* wylistowanie treningów do wboru */
.drills__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid black;
  margin: 20px;
}

.drills__list__item .drills__list__item__board {
  background-color: green;
  width: 450px;
}

.drills__list__item:last-child {
  border-bottom: 1px solid black;
}

/*#region Footer */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a36c6c;
  width: 400px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11vh 5vh 7vh;
  border-radius: 10px;
  -webkit-box-shadow: 0 25px 35px rgba(183, 33, 255, 0.15);
          box-shadow: 0 25px 35px rgba(183, 33, 255, 0.15);
}

.login-box h2 {
  font-size: 1.4rem;
  color: #4d4d4d;
  margin: 0 0 0.9vh;
}

.login-box p {
  font-size: 0.8rem;
  color: #999999;
  margin: 0 0 0.3vh;
}

.login-box .form .form--input-box {
  text-align: left;
  margin: 0 0 3vh;
  border-bottom: #333333 solid;
}

.login-box .form .form--input-box input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  line-height: 1.9;
  outline: transparent;
  margin-top: 2vh;
}

.login-box .form .form--input-box label {
  font-size: 0.7rem;
}

.login-box .form--options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  font-size: 0.7rem;
  text-align: left;
}

.login-box .form--options > div:last-of-type {
  text-align: right;
}

.avatar {
  display: inline-block;
  width: 15vh;
  height: 15vh;
  background-color: #b39898;
  border-radius: 50%;
  padding: 2.5vh;
  border: 5px solid white;
  -webkit-box-shadow: 0 5px 10px rgba(183, 33, 255, 0.15);
          box-shadow: 0 5px 10px rgba(183, 33, 255, 0.15);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.avatar svg {
  height: 100%;
}

.avatar svg path {
  fill: white;
}

/*#endregion*/
/*#region notification */
.notification-box {
  position: relative;
  z-index: 99;
  text-align: center;
}

.notification-bell {
  -webkit-animation: bell 1s 1s both infinite;
          animation: bell 1s 1s both infinite;
}

.notification-bell * {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px #fff;
          box-shadow: 0px 0px 15px #fff;
  background-color: red;
}

.bell-top {
  width: 6px;
  height: 6px;
  border-radius: 3px 3px 0 0;
}

.bell-middle {
  width: 25px;
  height: 25px;
  margin-top: -1px;
  border-radius: 12.5px 12.5px 0 0;
}

.bell-bottom {
  position: relative;
  z-index: 0;
  width: 32px;
  height: 2px;
}

.bell-bottom::before,
.bell-bottom::after {
  content: '';
  position: absolute;
  top: -4px;
}

.bell-bottom::before {
  left: 1px;
  border-bottom: 4px solid #fff;
  border-right: 0 solid transparent;
  border-left: 4px solid transparent;
}

.bell-bottom::after {
  right: 1px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 0 solid transparent;
}

.bell-rad {
  width: 8px;
  height: 4px;
  margin-top: 2px;
  border-radius: 0 0 4px 4px;
  -webkit-animation: rad 1s 2s both infinite;
          animation: rad 1s 2s both infinite;
}

.notification-count {
  position: absolute;
  z-index: 1;
  top: -6px;
  right: -6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff4927;
  color: #fff;
  -webkit-animation: zoom 3s 3s both infinite;
          animation: zoom 3s 3s both infinite;
}

@-webkit-keyframes bell {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  90% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bell {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  90% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*#endregion*/
/*# sourceMappingURL=style.css.map */