@using Chess.Infrastructure.DTO
@model ArticleDto
@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="Edit" method="post" class="form-horizontal p-4">
    <input asp-for="Id" type="hidden"/>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Tytuł</label>
        <div >
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FullNameAuthor" class="control-label">Autor</label>
        <div >
            <input asp-for="FullNameAuthor" class="form-control" />
            <span asp-validation-for="FullNameAuthor" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Treść</label>
        <div >
            <textarea rows="6" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 text-center">
            <button type="submit" class="btn btn-secondary">Zatwierdź</button>
        </div>
    </div>
</form>
