
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <main>
                <article class="drills__list__item container">
                    <div class="drills__list__item__board drills__finished container-fluid col-sm-4">
                        <div class="drills__icon">
                        </div>
                        <div class="drills__board ">
                        </div>
                    </div>
                    <div class="drills__list__item__details col-sm-8">
                        <h2>
                            
                        </h2>
                        <div class="drills__list__item__description">
                            Culpa ad deserunt adipisicing duis irure.
                            Culpa ad deserunt adipisicing duis irure.
                            Culpa ad deserunt adipisicing duis irure.
                        </div>
                    </div>
                </article>
                <article class="drills__list__item">
                    <div class="drills__list__item__board drills__finished">
                        <div class="drills__icon">
                        </div>
                        <div class="drills_border"></div>

                    </div>
                    <div class="drills__list__item__details">
                        <h2>
                            
                        </h2>
                        <div class="drills__list__item__description">
                            Culpa ad deserunt adipisicing duis irure.
                            Culpa ad deserunt adipisicing duis irure.
                            Culpa ad deserunt adipisicing duis irure.
                        </div>
                    </div>
                </article>
                <article class="drills__list__item">
                    <div class="drills__list__item__board drills__finished">
                        <div id="myBoard"></div>
                    </div>
                    <div class="drills__list__item__details">
                        <h2>
                            
                        </h2>
                        <div class="drills__list__item__description">
                            Culpa ad deserunt adipisicing duis irure.
                            Culpa ad deserunt adipisicing duis irure.
                            Culpa ad deserunt adipisicing duis irure.
                        </div>
                    </div>
                </article>
            </main>
        </div>
        <aside class="col-sm-3">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">Content</div>
                <div class="card-footer">Footer</div>
            </div>
        </aside>
    </div>
</div>
