<p>
    <a asp-action="GetAllCategory">GetAllCategory</a>  
</p>

<p>
    <a asp-action="GetCategoryListElement">GetCategoryListElement</a>
</p>

<p>
    <a asp-action="GetChessDrill">GetChessDrill</a>
</p>
