@*--> use modal in js:  $("#awardModal").modal(); *@
<div class="container">
  <!-- Modal -->
  <div class="modal fade text-center" id="awardModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div>
          <h3 class="modal-title">Gratulacje!! Zdobyłeś nagrodę.</h3>
        </div>

        <div class="modal-body">
            <img class="img img-fluid" src="~/img/awards/@ViewData["awardImgFileName"]" style="width: 200px;">
          <h6>@ViewData["awardContent"]</h6>
        </div>
        <div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>


