<div>HELLO WORLD</div>

<div id="myBoard" style="width: 400px"></div>
<label>Status:</label>
<div id="status"></div>
<label>FEN:</label>
<div id="fen"></div>
<label>PGN:</label>
<div id="pgn"></div>
<div id="root"></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-6">
        <input type="button" id="sendButton" value="Send Message" />
    </div>
</div>
<div class="row">
    <div>Lista ruchów</div>
    <div class="col-6">
        <ul id="movesList"></ul>
    </div>
</div>
