@using Chess.Infrastructure.DTO
@model PlayerDto

<div>
    <div class="mr-2 float-left">
        <img src="https://unsplash.it/35/35">
    </div>
    <div>
        <div><a asp-controller="Match" asp-action="GetPlayerMatch" asp-route-id="@Model.PlayerId">@Html.DisplayFor(modelItem => Model.Username)</a> <img src="https://unsplash.it/20/20"></div>
        <span>(2133)</span>
    </div>
</div>
