
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="img" asp-href-include="~/lib/chessboardjs/img/chesspieces/wikipedia/*.png" />
<link href="~/lib/chessboardjs/css/chessboard-1.0.0.css" rel="stylesheet" />
<link href="~/css/chess_game.css" rel="stylesheet"/>

<style>
    .active_move{
        background-color: brown;
    }
    .basic::before {
        content: attr(data-timer);
    }
  
  .stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
  }
  .stopwatch span {
    font-weight: bold;
    display: block;
  }
  .stopwatch a {
    padding-right: 5px;
    text-decoration: none;
  }
  .fas {
      width: 100px;
      height: 50px;
  }

</style>

<div>HELLO WORLD</div>
    <div class="row">
        <div id="layout__main" class="col-lg-9">
            <div class="border__layout_player d-flex p-2">
                <div class="border__layout_img"><img src="https://unsplash.it/45/45"></div>
                <div class="border__layout_usernameDetail">
                    <span id="chess_opponent_name">Jakis gracz1</span>
                    <span>(ilosc punktow)</span>
                    <img src="https://unsplash.it/20/20" class="img-fluid">
                </div>
                <div class="ml-auto clock__component">
                    <i class="far fa-clock fa-2x"></i>
                    <h3 id="clock-top" class="basic stopwatch" data-timer="@ViewBag.ChessGameDuration"></h3>
                </div>
            </div>
            <div id="chessboard" style="position: relative;"></div>
       
            <div class="border__layout_player d-flex p-2">
                <div class="border__layout_img"><img src="https://unsplash.it/45/45"></div>
                <div class="border__layout_usernameDetail">
                    <span id="chess_my_name">@Context.User.Identity.Name</span>
                    <span>(ilosc punktow)</span>
                    <img src="https://unsplash.it/20/20" class="img-fluid">
                </div>
                <div class="ml-auto clock__component">
                    <i class="far fa-clock fa-2x"></i>
                    <h3 id="clock-bottom" class="basic stopwatch" data-timer="@ViewBag.ChessGameDuration"></h3>
                </div>
            </div>

        </div>
        <div id="layout__sidebar" class="col-lg-3 ">
            <div class="game__controls__component">
                <div>
                    Jakis typ spotkania
                </div>
                <div class="game__controls__wrapper mb-auto">
                    <div class="info">
                        <div id="move-history" class="move-history">
   
                        </div>
                    </div>
                </div>
                <div class="section_wrapper m-3"> 
                    <div>
                        <i class="fas fa-chevron-left fa-ls fa-3x m-3 btn"></i>
                        <i class="fas fa-chevron-right fa-3x m-3 btn"></i>
                    </div>
                    <div>
                        <i class="fas fa-retweet fa-2x m-3"></i>
                        <i class="fas fa-download fa-2x m-3"></i>
                        <i class="fas fa-share-alt fa-2x m-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="PGN" style="padding: 50px;"></>
<p id="ChessGameId" hidden>@ViewBag.ChessGameId</p>


<div class="d-flex">
  <div class="p-2">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="ml-auto p-2">Flex item</div>
</div>





@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/lib/chessjs/chess.js"></script>
    <script src="~/lib/chessboardjs/js/chessboard-1.0.0.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chess_game_v4.js"></script>

    <script>
        const chess_mod_selected = chess_mod.LIVE_GAME;
    </script>
}