@using Chess.Infrastructure.DTO
@model TournamentDetailsDto

@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-controller="TournamentManagement" asp-action="Edit" method="post" class="form-horizontal p-4">
    <h4>Zarządzaj informacjami o turnieju</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <div >
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="StartEvent" class="control-label"></label>
        <div >
            <input asp-for="StartEvent" class="form-control" />
            <span asp-validation-for="StartEvent" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MinRank" class="control-label"></label>
        <div class="">
            <input asp-for="MinRank" class="form-control" />
            <span asp-validation-for="MinRank" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MaxRank" class=" control-label"></label>
        <div class="">
            <input asp-for="MaxRank" class="form-control" />
            <span asp-validation-for="MaxRank" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MinPlayers" class=" control-label"></label>
        <div >
            <input asp-for="MinPlayers" class="form-control" />
            <span asp-validation-for="MinPlayers" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MaxPlayers" class="control-label"></label>
        <div>
            <input asp-for="MaxPlayers" class="form-control" />
            <span asp-validation-for="MaxPlayers" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 text-center">
            <button type="submit" class="btn btn-secondary btn-block">Zatwierdź</button>
        </div>
    </div>
</form>
