@model Chess.Infrastructure.Commands.Message.SendMessage
<link href="~/lib/chosen/css/chosen.min.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="SendMessage">
                <div class="form-group">
                    <label>Do</label>
                    <select multiple="multiple"
                            asp-for="@Model.SendToList" 
                            asp-items="ViewBag.PlayersDropDown"
                            id="multiSelectList"
                            >
                    </select>
                <div>
                <div class="form-group">
                    <label>Temat</label>
                    <input asp-for="Title" type="text" min="1" max="100" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                <div>
                <div class="form-group">
                    <label>Treść wiadomości</label>
                    <textarea asp-for="Content" type="text" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>                    
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/chosen/js/chosen.jquery.min.js"></script>
    <script>
        $(function(){
            $("#multiSelectList").chosen(
                    {width: "100%"})
        });
    </script>
}
